body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  font-size: 14px;
}

td,
th {
  padding: 4px;
  border-bottom: 1px solid #ddd;
  text-align: start;
}

th {
  vertical-align: top;
}

.footer {
  display: flex;
  gap: 8px;
  padding: 10px;
  margin-top: 20px;
}
.bucket {
  height: 20px;
  cursor: pointer;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pages {
  display: flex;
  gap: 5px;
}
.pageNumber {
  cursor: pointer;
}
